.footer {
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    margin-top: -10rem;
    position: relative;
}
span {
    font-family: sans-serif;
}

.f-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
    gap: 2rem;
    color: black;
}

.f-icons {
    display: flex;
    gap: 2rem;
}




@media screen and (max-width: 480px) {
    .footer {
        margin-top: 2rem;
    }
    .f-content {
        gap: 1.2rem;
    }
    .f-icons {
        margin-bottom: 1rem;
    }
}


























